body {
    background-color: aqua;
    text-align: center;
    font-family: monospace;
}

img {
    width: 200px;
    height: 100px;
    text-align: center;

}

.links:hover {
    background: white;
    font-size: 25px;
}

.links {
    display: inline;
    padding-left: 25;
    padding-right: 25;
    font-size: 20px;
}
